body
    {
      background-color:#000000dc;
      font-size:20px;
      font-family:"helvetica";
    }
    #titulo{
      margin:auto;
      text-align:center;
      color: rgb(240, 239, 248);
    }
    #tabla{
      margin:auto;
      background-color: #a3b6e9;
    }